.App {
  vertical-align: text-top;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 30px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.button {
  background-color:brown ;
  margin-left: auto;
    margin-right: auto;
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
